/* Cascading Stylesheets template for general documents */

BODY {
	color: #565656;
	background-color: #FFFFFF;
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

:link { 
	color: #006600; 
}

:active {
	color: #00ff00;
}

:visited {
	color: #003300;
}

.title {
	color: #555555;
	font-family: sans-serif;
	text-align: left;
	border-style: solid;
	border-color: #DDDDDD;
	border-top-width: 0px;
	border-right-width: 0px;
	margin-top: 33px;
}

.inv {
	color: #FFFFFF;
	background-color: #CCCC99;
	padding-top: 0px; 
}

.header {
	font-family: sans-serif;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	border-style: solid;
	border-color: #DCCCDC;
	border-left-width: 8px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
}

.subheader {
	font-family: sans-serif;
	text-align: left;
	padding-top: 20px;
}

HR {
	color: #336600;
	border-top: solid;
}
